<span class="fa fa-user"></span>
<form action="/users/" method="POST" class="pure-form">
    <fieldset class="pure-group">
        <input id="username" name="username" type="text"  placeholder="User Name" value="{{ username }}" required />
        <input id="password" name="password" type="password" placeholder="Password" required />
        <input id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm Password" required />
    </fieldset>
    <fieldset class="pure-group">
        <input id="firstname" name="firstname" type="text"  placeholder="Prenom" value="{{ firstname }}" required />
        <input id="lastname" name="lastname" type="text"  placeholder="Nom" value="{{ lastname }}" required />
          <input id="email" name="email" type="email" placeholder="Email" value="{{ email }}" required />
    </fieldset>
    <div>
      <input id="submit" name="submit" type="submit" value="Soumettre" class="pure-button pure-button-primary"/>
    </div>
</form>
