<span class="fa fa-user fa-2x"></span>
<form action="/login" method="POST" class="pure-form">
    <fieldset class="pure-group">
        <input id="username" name="username" type="text"  placeholder="Login" required />
        <input id="password" name="password" type="password" placeholder="Password" required />
    </fieldset>
    <div>
      <input id="submit" name="submit" type="submit" value="Soumettre" class="pure-button pure-button-primary"/>
    </div>
</form>
