<ul>
  {{#each contacts}}
    <li><a href="duplicates/{{ this.ids }}">
      <p> Il y a {{ this.count }} comptes avec pour nom :
      {{#each this._id.name}}
        {{ this }}
      {{/each}}
    </a></li>
  {{/each}}
</ul>