<div id="user-pane" class="user-pane">
  <span class="fa fa-user"></span>
  {{#if user }}
  <a href="/users/me">{{ user.fullName }}</a>
  <a href="/logout">Déconnexion</a>
  {{else}}
  <a href="/login">Se connecter</a>
  <a href="/signup">S'inscrire</a>
  {{/if}}
</div>
