<div class="padded">
  <div class="heading">
    <h1>Liste des Etiquettes</h1>
    {{#isPermitted "tag:create" }}
    <a class="pure-button pure-button-primary left-offset" href="edit" title="Nouveau"><i class="fa fa-plus"></i></a>
    {{/isPermitted }}
  </div>
  <table id="tag-list" class="tag-list pure-table">
      <thead>
        <tr>
          <th>Nom</th>
        </tr>
      </thead>
      <tbody>
      {{#tags}}
        <tr class="tag-line clickable"  data-id="{{ id }}">
          <td>
            {{> tag }}
          </td>
        </tr>
      {{/tags}}
      </tbody>
  </table>
</div>
<script>
  var table = document.getElementById('tag-list');
  delegate(table, 'click', '.tag-line', function(e) {
    var id = e.actualTarget.getAttribute("data-id");
    window.location.assign("/tags/" + id);
  });
</script>
