{{#with tag }}
<div class="padded">
  <table class="tag pure-table">
    <tr>
      <td>Nom</td><td>{{ name }}</td>
    </tr>
    <tr>
      <td>Couleur</td><td><span class="fa fa-square fa-lg" style="color:{{ color }};" ></span></td>
    </tr>
  </table>
<div>
<div class="padded">
  {{#isPermitted "tag:update" }}
  <a href="edit/{{ id }}" class="pure-button pure-button-primary">Modifier</a>
  {{/isPermitted }}
  {{#isPermitted "tag:delete" }}
  <button id="delete" class="pure-button button-error">Supprimer</button>
  {{/isPermitted }}
<div>
<div class="padded">
  <a href="/tags/" class="pure-button">Retour à la liste</a>
</div>
{{#isPermitted "tag:delete" }}
<script>
    var deleteButton = document.getElementById("delete");
    deleteButton.addEventListener('click', function(ev) {
      deleteTag('{{ id }}').then(function (response) {
        location.assign("/tags/");
      })
      .catch(console.log);
    });
</script>
{{/isPermitted }}

{{/with}}
