<form action="/contacts/import" enctype="multipart/form-data" method="POST">
  <select id="separator" name="separator">
    <option value=",">,</option>
    <option value=";">;</option>
  </select>
  <input id="upload" name="upload" type="file"  />
  <input id="submit" name="submit" type="submit" value="Soumettre" />
</form>
