<form action="/contacts/" method="POST">
  <label for="name">Nom</label><input id="name" type="text" name="name" /><br />
  <label for="mail">Mail</label><input id="mail" type="email" name="mail" /><br />
  <input type="submit" value="Soumettre" />
</form>
