<form action="/labels/" method="POST">
{{#with label }}
  {{#if id }}
  <input type="hidden" name="id" value="{{ id }}" />
  {{/if}}
  <label for="name">Nom</label><input id="name" type="text" name="name" value="{{ name }}"/><br />
  <label for="color">Couleur</label><input id="color" type="color" name="color" value="{{ color }}" /><br />
  <input type="submit" name="submit" value="Soumettre" />
  <input type="reset" name="reset" value="RAZ" />
  <input type="submit" name="cancel" value="Annuler" />
{{/with}}
</form>
