<table class="label-list">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>
    {{#labels}}
      <tr>
        <td><a href="/labels/{{ id }}">Edit</a></td>
        <td>
          {{> label }}
        </td>
      </tr>
    {{/labels}}
    </tbody>
</table>
<a href="edit">Nouveau</a>
