<form action="/tags/" method="POST">
{{#with tag }}
  {{#if id }}
  <input type="hidden" name="id" value="{{ id }}" />
  {{/if}}
  <tag for="name">Nom</tag><input id="name" type="text" name="name" value="{{ name }}"/><br />
  <tag for="color">Couleur</tag><input id="color" type="color" name="color" value="{{ color }}" /><br />
  <input type="submit" name="submit" value="Soumettre" />
  <input type="reset" name="reset" value="RAZ" />
  <input type="submit" name="cancel" value="Annuler" />
{{/with}}
</form>
