<table class="tag-list">
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>
    {{#tags}}
      <tr>
        <td><a href="/tags/edit/{{ id }}">Edit</a></td>
        <td>
          {{> tag }}
        </td>
      </tr>
    {{/tags}}
    </tbody>
</table>
<a href="edit">Nouveau</a>
